@font-face {
	font-family: Montserrat-Regular;
	src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family:Montserrat-SemiBold ;
	src: url(/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
	font-family:Montserrat-ExtraBold ;
	src: url(/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
	font-family:Montserrat-Italic ;
	src: url(/fonts/Montserrat-Italic.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@200;300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Lato:wght@200;300;400;500;600;700;800&display=swap');
