
.opacooffdemo{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba($color: #000000, $alpha: 0.0);
    user-select: none;
    transition: 0.3s;
    z-index: -50;
    
    .contenedor-form-demo{
        display: flex;
        position: relative;
        margin: auto;
        top: 0;
        background-image: url(../img/form-demobg.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        box-shadow: 0px 24px 17px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 500px;
        height: 700px;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
        .btn-cerrar{
            display: flex;
            position: absolute;
            right: 25px;
            top: 25px;
            width: 20px;
            cursor: pointer;
            &:active{
                scale: 0.9;
            }
        }
        .imagform{
            display: flex;
            position: absolute;
            top: -55px;
            img{
                width: 110px;
            }
        }
        .form-demo{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 330px;
            gap: 50px;
            transition: 0.3s;
            h2{
                font-family: 'Poppins';
                font-weight: 400;
                letter-spacing: -0.08em;
                font-size: 25px;
                margin-top: 120px;
                color: #fff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .grupo{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                input{
                    outline: none;
                    border:none;
                    border-bottom: 1px solid #fff;
                    background: transparent;
                    font-size: 2.3vh;
                    height: 30px;
                    color: #fff;
                    font-family: 'Roboto';
                    font-weight: 400;
                }
                input:focus ~ label,
				input:not(:placeholder-shown) ~ label{
					top: -30px;
                    left: -15px;
					opacity: 0.6;
                    scale: 0.8;
					transition: 0.3s;
				}
                label{
					display: flex;
					position: absolute;
					top: 0;
					left: 20px;
					font-family: 'Roboto';
					font-weight: 300;
					transition: 0.3s;
                    font-size: 18px;
					color:#fff ;
					cursor:text;
					user-select: none;
					pointer-events: none;
					img{
                        position: relative;
                        top: 0;
						width: 20px;
                        height: 20px;
						margin-right: 15px;
					}
				}
            }
            .btn_enviar{
                position: relative;
                font-family:Inter;
                top: -40px;
                font-weight: 400;
                font-size: 2.2vh;
                min-width:100%;
                background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #31358D;
                border-radius: 6px;
                border: none;
                cursor: pointer;
                overflow: hidden;
                span {
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    transition: color 0.4s;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding:1.2vh 0.5vh;
                    color: #31358D;
                  }
                  &:hover span{
                    color:#fff;
                }
                
                  &::before,
                  &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                  }
                  &::before{
                    content: "";
                    background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
                    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                  }
                  &:hover::before{
                    transform: translate3d(100%, 0, 0);
                  }
                  &:active{
                    transform: scale(0.95);
                  }
            }  
        }
        .form-demo-enviado{
            opacity: 0;
            scale: 0;
            transition: 0.3s ease;
        }
        .laoding{
                position: absolute;
                user-select: none;
                pointer-events: none;
                opacity: 0;
                transition: 0.3s;
                .spin{
                    border: 3px solid hsla(185, 100%, 62%, 0.2);
                    border-top-color: #3cefff;
                    border-radius: 50%;
                    width: 5em;
                    height: 5em;
                    animation: spin 1s linear infinite;
                }
                @keyframes spin {
                    to {
                      transform: rotate(360deg);
                    }
                  }     
            }
        .correcto{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            user-select: none;
            pointer-events:none ;
            transition: 0.3s;
            h2{
                font-family: 'Roboto';
                font-weight: 600;
                font-size: 30px;
                color: #1ac014;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            }
            p{
                color: #fff;
            }
            img{
                width: 210px;
                height: 200px;
                border-radius: 50%;
                padding: 20px;
                border: 5px solid rgba(0, 255, 0, 0.386);
            }
            button{
                position: relative;
                font-family:Inter;
                top: 30px;
                font-weight: 400;
                font-size: 2.2vh;
                min-width:100%;
                background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #31358D;
                border-radius: 6px;
                border: none;
                cursor: pointer;
                overflow: hidden;
                span {
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    transition: color 0.4s;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding:1.2vh 0.5vh;
                    color: #31358D;
                  }
                  &:hover span{
                    color:#fff;
                }
                
                  &::before,
                  &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                  }
                  &::before{
                    content: "";
                    background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
                    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                  }
                  &:hover::before{
                    transform: translate3d(100%, 0, 0);
                  }
                  &:active{
                    transform: scale(0.95);
                  }
            } 
        }
        .incorrecto{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            user-select: none;
            pointer-events:none ;
            transition: 0.3s;
            h2{
                font-family: 'Roboto';
                font-weight: 600;
                font-size: 30px;
                color: #df10109a;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            }
            p{
                color: #fff;
            }
            img{
                width: 210px;
                height: 200px;
                border-radius: 50%;
                padding: 20px;
                opacity: 0.7;
                border: 5px solid rgba(241, 11, 11, 0.631);
            }
            button{
                position: relative;
                font-family:Inter;
                top: 30px;
                font-weight: 400;
                font-size: 2.2vh;
                min-width:100%;
                background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #31358D;
                border-radius: 6px;
                border: none;
                cursor: pointer;
                overflow: hidden;
                span {
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    transition: color 0.4s;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding:1.2vh 0.5vh;
                    color: #31358D;
                  }
                  &:hover span{
                    color:#fff;
                }
                
                  &::before,
                  &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                  }
                  &::before{
                    content: "";
                    background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
                    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                  }
                  &:hover::before{
                    transform: translate3d(100%, 0, 0);
                  }
                  &:active{
                    transform: scale(0.95);
                  }
            } 
        }
        .show{
            opacity: 1;
            transition: 0.3s;
            pointer-events: all;
        }
    }
    @media screen and (min-height:500px) {
    .opacooffdemo{
        .contenedor-form-demo{
            top: -50px;
            scale: 0.7;
        }
    }   
}
@media screen and (min-height:630px){
    .opacooffdemo{
        .contenedor-form-demo{
            top: 0px;
            scale: 0.9;
        }
    }   
}

}
.opaco{
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 100;
    transition: 0.3s;
}
@media screen and (min-height:500px) {
    .opacooffdemo{
        .contenedor-form-demo{
            top: -50px;
            scale: 0.7;
        }
    }   
}
@media screen and (min-height:630px){
    .opacooffdemo{
        .contenedor-form-demo{
            top: 0px;
            scale: 0.80;
        }
    }   
}
@media screen and (min-width:1440px){
	.opacooffdemo{
        .contenedor-form-demo{
            top: 0px;
            scale: 1;
        }
    }   
}
.opacooffdemo{
    .oculto{
        top: -1000px;
        transition: 0.6s;
    }
}
