form{
	display: flex;
	background: rgb(79,145,195);
	background: linear-gradient(90deg, rgba(79,145,195,1) 0%, rgba(79,145,195,1) 17%, rgba(70,138,186,1) 36%, rgba(55,128,172,1) 57%, rgba(38,116,156,1) 78%, rgba(16,101,136,1) 99%);
	padding: 3vh 0;
	box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-webkit-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	border-radius: 12px;
	align-items: center;
	justify-content: center;
	margin-top: 300px;
	width: 120%;
	transform: scale(.7);

}
.opacooff{
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	top: 0px;
	display: flex;
	z-index: -1;
	transition: 0.4s;
	opacity: 0;
}
.opacooffdemo{
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	top: 0px;
	display: flex;
	z-index: -1;
	transition: 0.4s;
	opacity: 0;
}
.opaco{
	opacity: 1;
	z-index: 100;
}



.contenedormain{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	transition: .4s;
}

.container-form{
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	top: 180px;
	opacity: 1;
	transition: 0.4s ease-in;
	z-index: 100;
}
.oculto{
	opacity: 0;
	position: relative;
	top: -1000px;
	transition: 0.4s ease-in;
	pointer-events: none;
	user-select: none;
	z-index: 100;
}

.imagform{
	display: flex;
	height: auto;
	width: auto;
	align-items: center;
	justify-content: center;
	margin: auto;
	user-select: none;
	pointer-events: none;
}
.form h2{
	text-align: center;
	font-weight: 500;
	color: white;
	pointer-events: none;
	user-select: none;
	margin: 3vh;
	user-select: none;
	pointer-events: none;
	
}
.form p{
	text-align: center;
	margin: 2vh 8vh;
	font-weight: 500;
	color: white;
	user-select: none;
	pointer-events: none;
}
form .grupo{
 	position: relative;
 	margin: 4vh 7vh;
}
.form input{
	background: none;
	padding: 0.5vh;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
	font-weight: bolder;
}
.form label{
	color: white;
	position: absolute;
	top: 0.5vh;
	left: 0.5vh;
	transition: 0.5s ease-in-out all;
	pointer-events: none;
}
.form input:focus~label,
.form input:valid~label{
	top: -15px;
	color: #93D9E5;
}
.barra {
	position: relative;
	display: block;
	width: 100%;
}
.barra::before{
	content: "";
	height: 2px;
	bottom: 0;
	position: absolute;
	width: 0%;
	left: 0;
	background: #93D9E5;
	transition: 0.4s ease width;
}
.form input:focus~.barra::before{
	width: 100%;
}
.btn_enviar{
	font-weight: 600;
	border: none;
	background: white;
	color: black;
	border-radius: 10px;
	width: 50%;
	display: block;
	margin: 1vh auto;
	padding: 1vh;
	transition: 0.4s;
}
.btn_enviar:hover{
	background-color: rgb(197, 195, 195);
	transition: 0.4s;
	cursor: pointer;
	font-weight: 600;
}


#form {
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	
}
.btn-cerrar{
	font-weight: 600;
	font-size: 20px;
	padding: 3px;
	border-radius: 50%;
	margin: -10px;
	text-align: center;
	color: black;
	background: white;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	top: 0;
	right: 0;
	transition: 0.4s;
	user-select: none;

}

/* ventana emergente */

.ventana{
	margin-top: 70px;
	background: rgb(29,105,5);
	background: linear-gradient(90deg, rgba(29,105,5,1) 7%, rgba(4,113,42,1) 100%);
	padding: 30px 0;
	box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-webkit-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	border-radius: 12px;
	width: 600px;
	transform: scale(.6);
	position: fixed;
}
.ventana h1,
.ventana h2{

	color: white ;
	margin: 30px;
}

.container-emergente{
	text-align: center;
	width: 100%;
	height: 0vh;
	top: 375px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease-in-out;
	opacity: 1;
	z-index: 100;
}
.ocultoemer{
	opacity: 0;
	position: fixed;
	top: -500px;
	transition: 0.4s ease-in;
	pointer-events: none;
	user-select: none;
	z-index: 110;
}
.ventana button,
.ventana2 button{
	font-size: 3vh;
}
.ventana2{
	margin-top: 70px;
	background: rgb(105,5,5);
	background: linear-gradient(90deg, rgba(105,5,5,1) 7%, rgba(113,70,4,1) 100%);
	padding: 30px 0;
	box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-webkit-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 6px 17px -5px rgba(0,0,0,0.67);
	border-radius: 12px;
	width: 600px;
	position: fixed;
	transform: scale(.6);
}
.ventana2 h1,
.ventana2 h2{

	color: white ;
	margin: 30px;
}
