.main{
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}
.uno,.dos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}
.text  {
    margin-left: 20vh;
    margin-right: 15vh;
}
.image{
    width: 700px;
}
.image2{
    width: 1000px;
}