.contenedor_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    flex-direction: column;
}
.contenedor_uno{
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imagen{
    margin-left: 5vh;
}
.texto_prin{
    margin-left: 10vh;
    margin-right: 20vh;
    flex-shrink: 0.7;
}
.contenedor_dos{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:stretch;
}
.items{
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    margin: 1vh;
    width: 20vh;
    padding: 2vh;
}
.fa-solid::before{
    color: #3667B0;
}
.info_extra{
    margin-top: 10vh;
    width: 1200px;
}