@import "./font";
h1{
	font-family: Montserrat-ExtraBold;
	color: #5563AA ;
	font-style: normal;
	font-weight: 800;
	font-size: 7vh !important;
	line-height: 50px;
	letter-spacing: -0.045em;
	background: conic-gradient(from 108.12deg at 0% 35.23%, #36358F 0deg, #1D518F 360deg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
P{
	font-family:Roboto;
	font-style: normal;
	font-size: 2.5vh;
	color: #000000;
	line-height: 25px;
	font-weight: 300;
}
h2{
	font-family: Montserrat-SemiBold;
	color: #31358D;
	font-weight: 700;
}
h3{
	font-family: Montserrat-Italic;
	color: #35438E;
	font-size: 3.5vh;
	font-weight: 400;
	line-height: 10px;
	margin-top: -2vh;
}
a{
	color: white;
	text-decoration: none;
}
/* correcion menus links */
section[id]{
	padding-top: 20vh;
}
body{
	background: #EAEEF0;
}
.fondo{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:url(../img/image-32.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: 110%;
	opacity: 0.60;
	z-index: -50;
}
.fondo-dos{
	display: flex;
	position: absolute;
	width: 100%;
	height: 200%;
	background-image:url(../img/fondo2.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 40%;
	z-index: -49;
}
/*Header y menu-----------------------------------*/
.container_header{
	display: flex;
	position:absolute;
	background: rgb(135,210,255);
	background: linear-gradient(352deg, rgba(135,210,255,0.5410539215686274) 0%, rgba(91,150,187,0.9556197478991597) 39%);
	box-shadow: 0px 4px 6px #9CB6C6;
	width: 100%;
	opacity: 0.85;
	align-items: center;
	flex-direction: column;
	transition: .4s linear ;
	z-index: 21;
	top: 0;
}
.header-transition{
	display: flex;
	position: absolute;
	width: 100%;
	height: 20vh;
	top: 0;
	opacity: 0;
	background:#5B96BB ;
	z-index: 20;
	transition: .4s linear;
}
.imglogo{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	transition: 0.4s linear;
}
#logogrande, #minilogo{
	position: relative;
	transition: 0.6s linear;
}
#minilogo{
	position: absolute;
	scale: 0;
}
.nav_header{
	display: flex;
	position: relative;
	align-items: center;
}
.logo-menu{
	display: flex;
	background: linear-gradient(90deg, rgba(79,145,195,1) 0%, rgba(79,145,195,1) 17%, rgba(70,138,186,1) 36%, rgba(55,128,172,1) 57%, rgba(38,116,156,1) 78%, rgba(16,101,136,1) 99%);
	margin: 0 0 1vh 1vh;
	flex-direction: row;
	align-items: center;
	position: relative;
	z-index: 60;
	justify-content: space-between;
}
.menu-resp{
	width: 5vh;
	margin-right: 5vh;
}
.hamburoculto{
	position: relative;
	z-index: 50;
	height: 0;
	top: -500px;
}
.nav a {
	display: flex;
	position: relative;
	font-size: 2vh;
	text-decoration: none;
	background-image: linear-gradient(#93D9E5, #93D9E5);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 0% 3px;
	border-radius: 5px;
	font-family: Montserrat-Regular;
	font-weight: 500;
	
}
.selected{
	background-size: 100% 2px !important;
	transition: .3s linear;
}

nav a:hover{
	font-weight: 600;
	transition: 0s;
}
.btn-demo{
	position: relative;
	font-weight: 400;
	font-size: 2vh;
	min-width:162px ;
	background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #31358D;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	font-family:Inter;
	overflow: hidden;
    span {
        position: relative;
        z-index: 10;
        width: 100%;
        transition: color 0.4s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding:1.8vh 0.5vh;
        color: #31358D;

        &:hover{
            color:#fff;
        }
      }
      &::before,
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      &::before{
        content: "";
	    background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
	    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
	    width: 120%;
	    left: -10%;
	    transform: skew(30deg);
	    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }
      &:hover::before{
        transform: translate3d(100%, 0, 0);
      }
      &:active{
        transform: scale(0.95);
      }
}  
.btn-acceso{
	position: relative;
	font-weight: 400;
	font-size: 2vh;
	min-width:162px ;
	background: conic-gradient(from 190.41deg at 59.44% 0%, #AEC9E0 0deg, #B9D1E6 360deg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #31358D;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	font-family:Inter;
	overflow: hidden;
    span {
        position: relative;
        z-index: 10;
        width: 100%;
        transition: color 0.4s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding:1.8vh 0.5vh;
        color: #fff;

        &:hover{
            color:#31358D;
          }
      }
      &::before,
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      &::before{
        content: "";
        background: conic-gradient(from 191.81deg at 61.22% 0%, #4D5A9D 0deg, rgba(77, 90, 157, 0.93) 360deg);
        box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }
      &:hover::before {
        transform: translate3d(100%, 0, 0);
      }
      &::active {
        transform: scale(0.95);
      }
}
.botonesprin{
	pointer-events: all;
    .btn-conomas {
        position: relative;
        font-family: 'Poppins';
        font-size: 1.8vh;
        min-width: 220px;
        border: none;
        background: conic-gradient(from 190.41deg at 59.44% 0%, #B9D1E6 0deg, #AEC9E0 360deg);
        border: 1px solid #31358D;
        box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        span {
            position: relative;
            z-index: 10;
            width: 100%;
            transition: color 0.4s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.8em 1.2em 0.8em 1.05em;
            color: #fff;
            &:hover{
                color:#31358D;
              }
          }
          &::before,
          &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          &::before {
            content: "";
            background: conic-gradient(from 185.44deg at 54.83% 0%, #4E5B9E 0deg, #5461A1 360deg);
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }
          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
          &:active {
            transform: scale(0.95);
          }
      }
    .btn-demo2 {
        position: relative;
        font-family: 'Poppins';
        font-size: 1.8vh;
        min-width: 220px;
        border: none;
        background: conic-gradient(from 185.44deg at 54.83% 0%, #4D5A9D 0deg, rgba(77, 90, 157, 0.92) 360deg);
        border: 1px solid rgba(91, 150, 187, 0.88);
        box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        span {
            position: relative;
            z-index: 10;
            width: 100%;
            transition: color 0.4s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.8em 1.2em 0.8em 1.05em;
            color: #31358D;
            &:hover{
                color:#fff;
              }
          }
          &::before,
          &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          &::before {
            content: "";
            background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
            box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }
          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
          &:active {
            transform: scale(0.95);
          }
      } 
}

/* formularios */
@import "./form-acc";
@import "./form-demo";

/*Cuerpo de pag-------------------------------------*/

article{
	margin-bottom: 30vh;
}
.title-nosotros{
	display: flex;
	flex-direction: row;
	align-items: center;
	img{
		width: 20px;
		margin-right: 1vh;
	}
}
.principal{
	margin-left: 10vh;
	pointer-events: none;
	user-select: none;
}
.text_principal{
	padding-bottom: 10vh;
	p{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
}

.productos{
	display: flex;
	flex-direction: column;
	margin: 5vh 10vh 0 10vh;
	h2{
		font-size: 3vh;
	}
	p{
		font-family: Montserrat;
		font-weight: 500;
		font-size: 2.5vh;
		line-height:15px ;
		color: #31358D;
	}

	.productos-principal{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: 1300px;
		margin: auto;
		gap: 10vh;
		margin-top: 10vh;
		margin-bottom: 10vh;
		#Acc1{
			position: absolute;
			appearance: none;
			&:checked{	
				~{
					.prto-info{
						height: 500px;
						margin-top: -30px;
						transition: 1s;
					}
				}
			}
			
		}
		#Acc2{
			position: absolute;
			appearance: none;
			&:checked{	
				~{
					.prto-info2{
						height: 500px;
						margin-top: -30px;
						transition: 1s;
					}
				}
			}
			
		}
		#Acc3{
			position: absolute;
			appearance: none;
			&:checked{	
				~{
					.prto-info3{
						height: 500px;
						margin-top: -30px;
						transition: 1s;
					}
				}
			}
			
		}

		.prto{
			width: 100%;
			height: 230px;
			position: relative;
			display: flex;
			border: 2px solid rgba(91, 150, 187, 0.2);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
			z-index: 10;
			img{
				position: inherit;
				height: 235px;
				top: -7vh;
				object-fit: scale-down;
				overflow: visible;
			}
			.prto-text{
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-right: 15vh;
				padding-top: 5vh;
				margin-left: 5vh;
				h3{
				font-family: Montserrat-ExtraBold;
				font-size: 2vh;
				line-height: 20px;
				}
				p{
					font-family: 'Roboto';
					font-weight: 300;
					line-height: 25px;
					font-size: 2vh;
				}
			}
			.circle-icon{
				position: absolute;
				display: flex;
				right: 3vh;
				top: -4.7vh;
				text-align: center;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 5px solid #EAEEF0;
				width:70px ;
				height: 70px;
				span{
					position: relative;
					font-family: Montserrat-SemiBold;
				}
			}		
			.btn-mas{
				position: absolute;
				font-family: 'Roboto';
				font-weight: 600;
				right: 20px;
				bottom: 15px;
				border: none;
				background: transparent;
				user-select:none;
				cursor: pointer;
				span{
					margin-right: 5px;
				}
				i{
					transition: 0.5s;
				}
				&:active{
					scale: 0.95;
				}
			}
		}
		.prto-info,
		.prto-info2,
		.prto-info3{
			display: flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			align-items: left;
			padding: 70px;
			height: 0;
			margin-top: -150px;
			margin-left: 25px;
			margin-right: 25px;
			background: #E1EAEF;
			border-radius: 15px;
			z-index: 5;
			transition: 1s;
			overflow: hidden;
			h3{
				font-family: 'Roboto';
				font-weight: 700;
				font-size: 3vh;
				color: #000000;
			}
			li{
				display: flex;
				font-family: 'Roboto';
				font-weight: 300;
				font-size: 2.2vh;
				color: #000000;
				text-decoration: none;
				list-style: none;
				margin-top: 15px;
				align-items: center;
				img{
					margin-right: 5px;
				}
			}
			span{
				position: absolute;
				right: 25px;
				bottom: 25px;
				font-family: 'Roboto';
				font-weight: 700;
				color: #31358D;
				user-select: none;
				cursor: pointer;
			}

		}
		.prto-info2{
			background: #D3DADE
		}
		.p1{
			background-size: 100% 100%;
			background-position: 0px 0px;
			background-image: conic-gradient(from 280deg at 102% 105%, #E1EAEF 0%, #CEDDE6 100%);
			h3,p{
				color: #000000;
			}
			.circle-icon{
				background: rgba(91, 150, 187, 1);
				span{
					font-size: 3vh;
					color: #fff;
				}
			}
		}
		.p2{
			background-size: 100% 100%;
			background-position: 0px 0px;
			background-image: conic-gradient(from 280deg at 102% 105%, #8690BB 0%, #7580B2 100%);
			.circle-icon{
				background: rgb(196, 205, 212);
				span{
					font-size: 2vh;
					color: #000;
				}
			}
			h3,p{
				color: #fff;
			}
			img{
				height: 190px;
				margin-left: 5vh;
				top: -5vh;
			}
			span,i{
				color: #fff;
			}
		}
		.p3{
			background-size: 100% 100%;
			background-position: 0px 0px;
			background-image: conic-gradient(from 280deg at 102% 105%, #F9FBFB 0%, #EAEEF0 101%);
			.circle-icon{
				background: #adb7e1;
				span{
					font-size: 2.5vh;
					color: #000;
				}
			}
			h3,p{
				color: #000000;
			}
		}
	}
	.productos-paciente{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 10vh;
		gap: 10vh;
		align-items: stretch;
		justify-content: center;
		.prto-p{
			display: flex;
			flex-direction: column;
			position: relative;
			width: 300px;
			height: 350px;
			background-size: 100% 100%;
			background-position: 0px 0px;
			background-image: conic-gradient(from 320deg at 102% 105%, #CEE4E2 0%, #E9EDF0 101%);
			border: 1px solid rgba(160, 191, 219, 0.15);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
			align-items: center;
			justify-content: center;
			h3{
				position: absolute;
				left: 30px;
				margin-top: 20px;
				font-family: Roboto;
				font-weight: 700;
				font-size: 2vh;
				color: #000;
			}
			p{
				font-family: 'Roboto';
				font-weight: 300;
				padding: 30px 20px 30px 30px;
				font-size: 2vh;
				line-height: 23px;
				color: #000;
			}
			img{
				position: relative;
				top: -80px;
				height: 170px;
				overflow: visible;
			}
			span{
				font-family: 'Roboto';
				font-weight: 700;
				position: absolute;
				right: 20px;
				bottom: 15px;
				color: #31358D;
				user-select: none;
				cursor: pointer;
			}
		}
	}
}
.contactos{
	display: flex;
	flex-direction: column;
	margin: 15vh 10vh 0 10vh;
}

/* footer -------------------------> */
.footer{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: rgb(51, 49, 49);

}
.datafis{
	width: 10vh;
}
/* responsive media screen--------------------- */

@media screen and (min-width:767px) {
	section[id]{
		padding-top: 1vh;
	}
	#servicios,
	#irproductos,
	#contacto{
		padding-top: 14vh;
		margin-top: -14vh;
	}
	.menu-resp{
		display: none;
	}
	.container_header{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 4vh;
		height: 20vh;
	}
	.logo-header{
		display: flex;
		align-items:center;
		flex-direction: row;
		width: 100%;
		margin-left: 60px;
		scale: 1.5;
	}
	.hamburoculto{
		top: 0;
		height: 5vh;
	}
	.logo-menu{
		background: transparent;
	}
	.nav_header nav{

		display: flex;

		position: relative;

		flex-direction: row;

}
	.nav{
		align-items: center;
		transition: .3s linear;
	}
	.nav a{
		margin-right: 2vh;
		letter-spacing: 0.15vh;
	}
	.btn-demo{
		border-radius: 8px;
		font-size: 2.5vh;
	}
	.btn-acceso{
		border-radius: 8px;
		font-size: 2.5vh;
	}
	.container-acceso-form{
		position: fixed;
		min-width: 600px;
	}
	form{
		width: 600px;
	}
	.container-form{
		margin-top: -70px;
	}
	.container-acceso-form form{
		width: 70%;
	}
	.ventana,
	.ventana2{

		margin-top: 0;
		transform: scale(0.8);
	}
	.principal{
		margin-top: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.separador{
		position: relative;
		width: 200px;
		height: 0px;
		border: 2px solid #31358D;
	}
	.servicios{
		display: flex;
		flex-direction: column;
		margin: 10vh 10vh 0vh 10vh;
		h2{
			font-size:3vh ;
		}
	}
	.nosotros{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.nosotros-text{
		text-align: center;
		font-family: Roboto;
		font-size: 2.5vh;
		color: #36358F;
		margin: 5vh 3vh;
	}
	.nosotros-cajas{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.nosotros-box{
		display: flex;
		flex-direction: column;
		max-width: 300px;
		max-height: 370px;
		padding: 3vh;
		margin-bottom: 5vh;
		background-size: 100% 100%;
		background-position: 0px 0px;
		background-image: conic-gradient(from 319deg at 101% 107%, #C0DAEB2B 3%, #5B96BB30 100%);
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
		justify-content: space-between;
		scale: 0.9;
	}
	.box-chain{
		display: flex;
		flex-direction:	row ;
	}
	.nosotros-box h2{
		position: relative;
		top: -20px;
	}
	.nosotros-box p{
		position:relative;
		font-family: Roboto;
		font-size: 2vh;
		line-height: 18px;
	}
	.vector{
		display: flex;
		position: relative;
		top: -15px;
		margin-top: -40px;
		width:160px;
	}
	.btn-contactanos{
		position: relative;
		font-weight: 400;
		font-size: 2vh;
		min-width:250px ;
		background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		color: #31358D;
		border-radius: 6px;
		border: none;
		cursor: pointer;
		font-family:Inter;
		overflow: hidden;
        span {
            position: relative;
            z-index: 10;
            width: 100%;
            transition: color 0.4s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding:1.8vh 0.5vh;
            color: #31358D;
            &:hover{
                color:#fff;
              }
          }
          &::before,
          &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          &::before {
            content: "";
            background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
            box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }
          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
          &:active {
            transform: scale(0.95);
          }
	}
	.productos{
		display: flex;
		flex-direction: column;
	}
	.productos-container{
		margin: 0vh 20vh 20vh 20vh;
	}
	.footer{
		padding: 5vh;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		height: 20vh;
	}
	.productos-container{
		margin: 5vh 15vh;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: center;
		border-top: 5px solid lightblue;
		border-bottom: 5px solid lightblue;
		border-right: 1px solid lightblue;
		border-left: 1px solid lightblue;
		border-radius: 10px;
	}
	.prdto{
		width: 50vh;
	}
}
@media screen and (min-width:1000px) {
	section[id]{
		padding-top: 1vh;
	}
	.container_header{
		padding: 0	5vh;
	}
	.container_header,
	.header-transition{
		flex-direction: row;
		position: fixed;
		align-items: center;
		text-align: center;
	}
	.hamburoculto{
		margin-left: 0;
	}
	.logo-menu{
		width: auto;
		margin: 0;
	}
	#minilogo{
		width: 45px;
	}
	.nav_header a,
	.btn-demo,
	.btn-acceso{
		font-size: 1.7vh;
	}
	.btn-demo{
		margin-right: 0.5vh;
	}
	.logo-header a{
		width: 25vh;
	}
	.accesoform h2{
		font-size: 5.5vh;
	}
	.accesoform .grupo{
		margin: 10vh;
	}	
	.container-form form{
		padding: 5vh;
		transform: scale(.7);
		margin-top: 50vh;
	}
	.form p{
		margin-bottom: 3em;
	}
	.container-acceso-form form{
		width: 100%;
		transform: scale(0.8);
	}
	.text_principal{
		padding: 2vh;
		font-size: 3vh;
		flex-shrink: 1;
	}
	.text_principal p{
		font-size: 2.5vh;
	}
	.imagen_principal{
		width: 100vh;
	}
	.productos{
		margin-top: 10vh;
	}
	.principal{
		margin-top: 23vh;
		margin-bottom: 10vh;
	}
	.prdto{
		width: 40vh;
	}
	.nav a {
		font-size: 2vh;
	}
	.navscroll{
		margin-top: 2vh;
		transition: .4s linear;
	}
	.menuscroll{
		height: 10vh;
		transition: .4s linear;
	}
}
@media screen and (min-width:1360) {
	.container-form form{
		transform: scale(0.9);
	}
}
@media screen and (min-width:1440px){
	.fondo{
		background-size: 90%;
	}
	.fondo-dos{
		background-size: 30%;
		height: 300%;
	}
	.container_header{
		padding: 0 20vh;
	}
	.nav_header a,
	.btn-acceso,
	.btn-demo{
		font-size: 2vh;
	}
	nav a:hover{
		font-weight:600 ;
	}
	.container-form form{
		margin-top: 600px;
	}
	.container-acceso-form form{
		margin-top: 3vh;
		transform: scale(.9);
	}
	.accesoform h2{
		font-size: 5vh;
	}
	.accesoform .grupo{
		margin: 5vh;
	}
	.container-acceso-form{
		margin-top: 150px;
	}
	.container-form form{
		padding: 5vh 0;
		transform: scale(0.9);
	}
	.container-form{
		margin-top: -70px;
	}
	.nosotros-box p{
		line-height: 25px;
	}
	.nosotros-box{
		margin: 0vh;
		box-sizing: content-box;
		padding-bottom: 5vh;
		scale: 0.8;
	}
	.servicios,
	.productos,
	.contactos{
		margin: 10vh 25vh 0vh 25vh;
	}
}