
.opacooffdemo{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.0);
    user-select: none;
    z-index: -50;
    transition: z-index 1s,background 0.3s;
    @media screen and (min-height:500px) {
    .opacooffdemo{
        .contenedor-form-demo{
            top: -50px;
            scale: 0.7;
        }
    }   
}
@media screen and (min-height:630px){
    .opacooffdemo{
        .contenedor-form-demo{
            top: 0px;
            scale: 0.9;
        }
    }   
}
}
.contenedor-form-demo{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/form-demobg.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 24px 17px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 500px;
    height: 700px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 0.6s ease;
    form {
      width: 100%;
    }
    .btn-cerrar{
        display: flex;
        position: absolute;
        right: 25px;
        top: 25px;
        width: 20px;
        cursor: pointer;
        &:active{
            scale: 0.9;
        }
    }
    .imagform{
        display: flex;
        position: absolute;
        top: -50px;
        img{
            width: 100px;
        }
    }
    .form-demo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 80px;
        gap: 50px;
        transition: 0.3s;
        h2{
            font-family: 'Poppins';
            font-weight: 400;
            letter-spacing: -0.08em;
            font-size: 25px;
            margin-top: 120px;
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .grupo{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            input{
                outline: none;
                border:none;
                border-bottom: 1px solid #fff;
                background: transparent;
                font-size: 2.3vh;
                height: 30px;
                color: #fff;
                font-family: 'Roboto';
                font-weight: 400;
                transition: all .3s;
            }
            input:focus ~ label,
            input:not(:placeholder-shown) ~ label{
                top: -30px;
                left: -15px;
                opacity: 0.6;
                scale: 0.8;
                transition: 0.3s;
            }
            label{
                display: flex;
                position: absolute;
                top: 0;
                left: 20px;
                font-family: 'Roboto';
                font-weight: 300;
                transition: 0.3s;
                font-size: 18px;
                color:#fff ;
                cursor:text;
                user-select: none;
                pointer-events: none;
                img{
                    position: relative;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                }
            }
            .error{
              display: flex;
              flex-direction: row;
              position: absolute;
              justify-content: center;
              align-items: center;
              top: 15px;
              user-select: none;
              pointer-events: none;
              opacity: 0;
              transition: all .3s;
              span{
                width: 20px;
                height: 20px;
                text-align: center;
                color: #fff;
                background: #9F0D0D;
                border: 2px solid rgba(159, 13, 13, 0.5);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                margin-right: 10px;
              }
              p{
                font-family: 'Roboto';
                font-weight: 400;
                color: #9F0D0D;
                font-size: 15px;

              }
            }
            .errorShow1{
              opacity: 1;
            }
            .errorShow2{
              border-bottom: 2px solid #9f0d0d65;
            }
        }
        .btn_enviar{
            position: relative;
            font-family:Inter;
            top: -40px;
            font-weight: 400;
            font-size: 2.2vh;
            min-width:100%;
            background: $bg1;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #31358D;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            overflow: hidden;
            span {
                position: relative;
                z-index: 10;
                width: 100%;
                transition: color 0.4s;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding:1.2vh 0.5vh;
                color: #31358D;
              }
              &:hover span{
                color:#fff;
            }
            
              &::before,
              &::after{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
              }
              &::before{
                content: "";
                background: $bg2;
                box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
              }
              &:hover::before{
                transform: translate3d(100%, 0, 0);
              }
              &:active{
                transform: scale(0.95);
              }
        }  
    }
    .hide{
        opacity: 0;
        scale: 0;
        transition: 0.3s ease;
    }
    .laoding{
            position: absolute;
            user-select: none;
            pointer-events: none;
            opacity: 0;
            transition: 0.3s;
            .spin{
                border: 3px solid hsla(185, 100%, 62%, 0.2);
                border-top-color: #3cefff;
                border-radius: 50%;
                width: 5em;
                height: 5em;
                animation: spin 1s linear infinite;
            }
            @keyframes spin {
                to {
                  transform: rotate(360deg);
                }
              }     
        }
    .correcto{
      position: absolute;
			display: flex;
			top: 35%;
      margin: 0 50px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			user-select: none;
			pointer-events:none ;
			transition: 0.3s;
			.msj{
        display: flex;
        // background: #6da1c265;
        padding: 15px;
        border-radius: 8px;
        gap: 20px;
        align-items: center;
        p{
          display: flex;
          position: relative;
          flex-direction:column ;
          color: #fff;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 1.8vh;
          
        }
        img{
          position: relative;
          display: flex;
          width: 10%;
        }
      }
			// button{
			// 	position: relative;
			// 	font-family:Inter;
			// 	top: 30px;
			// 	font-weight: 400;
			// 	font-size: 2.2vh;
			// 	min-width:100%;
			// 	background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
			// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			// 	color: #31358D;
			// 	border-radius: 6px;
			// 	border: none;
			// 	cursor: pointer;
			// 	overflow: hidden;
			// 	span {
			// 		position: relative;
			// 		z-index: 10;
			// 		width: 100%;
			// 		transition: color 0.4s;
			// 		display: inline-flex;
			// 		align-items: center;
			// 		justify-content: center;
			// 		padding:1.2vh 0.5vh;
			// 		color: #31358D;
			// 	  }
			// 	  &:hover span{
			// 		color:#fff;
			// 	}
				
			// 	  &::before,
			// 	  &::after{
			// 		position: absolute;
			// 		top: 0;
			// 		left: 0;
			// 		width: 100%;
			// 		height: 100%;
			// 		z-index: 0;
			// 	  }
			// 	  &::before{
			// 		content: "";
			// 		background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
			// 		box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
			// 		width: 120%;
			// 		left: -10%;
			// 		transform: skew(30deg);
			// 		transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
			// 	  }
			// 	  &:hover::before{
			// 		transform: translate3d(100%, 0, 0);
			// 	  }
			// 	  &:active{
			// 		transform: scale(0.95);
			// 	  }
			// } 
    }
    .incorrecto{
        position: absolute;
			display: flex;
			top: 35%;
            margin: 0 50px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			user-select: none;
			pointer-events:none ;
			transition: 0.3s;
			p{
				display: flex;
				position: relative;
				flex-direction: row;
				align-items: center;
				color: #fff;
				font-family: 'Roboto';
				font-weight: 400;
				font-size: 15px;
				padding: 15px;
				background: #9F650D;
				border-radius: 8px;
			}
			img{
				position: relative;
				display: flex;
				width: 35px;
				margin-right: 20px;
			}
			button{
				position: relative;
				font-family:Inter;
				top: 30px;
				font-weight: 400;
				font-size: 2.2vh;
				min-width:100%;
				background: conic-gradient(from 193.86deg at 61.22% 0%, #36358F -0.05deg, rgba(54, 53, 143, 0.88) 0.19deg, #36358F 359.95deg, rgba(54, 53, 143, 0.88) 360.19deg);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				color: #31358D;
				border-radius: 6px;
				border: none;
				cursor: pointer;
				overflow: hidden;
				span {
					position: relative;
					z-index: 10;
					width: 100%;
					transition: color 0.4s;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					padding:1.2vh 0.5vh;
					color: #31358D;
				  }
				  &:hover span{
					color:#fff;
				}
				
				  &::before,
				  &::after{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
				  }
				  &::before{
					content: "";
					background: conic-gradient(from 185.44deg at 54.83% 0%, #C8DBE7 0deg, #CCDDE8 360deg);
					box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
					width: 120%;
					left: -10%;
					transform: skew(30deg);
					transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
				  }
				  &:hover::before{
					transform: translate3d(100%, 0, 0);
				  }
				  &:active{
					transform: scale(0.95);
				  }
			} 
    }
    .show{
        opacity: 1;
        transition: 0.3s;
        pointer-events: all;
    }
}
.opaco{
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 100;
    transition: z-index 0s,background 0.3s;
}
@media screen and (min-width:1440px){
        .contenedor-form-demo{
            top: 0px;
            scale: 1;
        }  
}
.oculto{
        top: -300%;
        transition: .4s ease-in;
}