.head{
    h1{
        font-size: 16vh;
    }
    h2{
        font-size: 6vh;
        text-align: center;
    }
}
.SAPma{
    h2{
        font-size: 1.6em;
        text-align: center;
    }
    .boxinfo{
        display: flex;
        img{
            height: 70vh;
        }
    }
}
.modulos{
    .contenedor-items{
        .item{
            .p2sap{
                margin-top: 10px !important;
            }
            .sapimg1{
                background-image: url(../img/Vectores-SAPma/boxSAP1hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg2{
                background-image: url(../img/Vectores-SAPma/boxSAP2hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg3{
                background-image: url(../img/Vectores-SAPma/boxSAP3hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg4{
                background-image: url(../img/Vectores-SAPma/boxSAP4hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg5{
                background-image: url(../img/Vectores-SAPma/boxSAP5hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg6{
                background-image: url(../img/Vectores-SAPma/boxSAP6hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg7{
                background-image: url(../img/Vectores-SAPma/boxSAP7hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
            .sapimg8{
                background-image: url(../img/Vectores-SAPma/boxSAP8hover.png);
                background-size:100% ;
                background-repeat: no-repeat;
            }
        }
    }
}